.col-sm-3 {
    width: 120px;
    height: 140px;
    margin: 15px;
    padding-top: 10px;
}

h1 {
    font-size:200%;
    color: white;
}

.text1 {
    font-size:93%;
    color: white;
}
.text2 {
    font-size:7px;
    color: white;
    
}
img{
    width: 35px;
    height: 30px;
}
.text3 {
    font-size:93%;
    color: white;
}
.text4 {
    font-size:7px;
    color: white;
    margin-top: 50px
}